* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.etchaSketch {
    display: flex;
    justify-content: center;
    width: 800px;
    padding: 20px 10px 90px 125px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #e9724c;
}

#sketchPad {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#title {
    font-size: 54px;
    font-family: 'Titillium', Arial, Helvetica, sans-serif;
    padding: 10px;

}

.buttons {
    padding-top: 100px;
}

button {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 15px;
    margin: 20px;
    border: black solid 2px;
    border-radius: 8px;
    background-color: palegoldenrod;
}

#gridContainer {
    border: 5px solid;
    border-radius: 5px;
    width: 600px;
    height: 600px;
    display: grid;
    background-color: aliceblue;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

#gridItem {
    border: 1px solid black;
}